<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="javaClass" class="com.practice.services.Java">
        <property name="extraSessions" ref="javaOfficeHours"/>
    </bean>
    <bean id="javaScriptClass" class="com.practice.services.JavaScript">
        <property name="extraSessions" ref="javaScriptHours"/>
    </bean>
    <bean id="seleniumClass" class="com.practice.services.Selenium"/>
    <bean id="javaOfficeHours" class="com.practice.services.JavaOfficeHours"/>
    <bean id="javaScriptHours" class="com.practice.services.JavaScriptOfficeHours"/>

</beans>